

<div class="container">
  <div class="layout-accounts">
    <div class="account-wrap">
      <div class="account-card">
        <div class="account-content smart-forms">
          <div class="main-title text-center">
              <h3 style="color: #073f79">Ajouter un favoris</h3>
          </div>
          <div id="contact">
            <div class="form-body">
              <%= simple_form_for Favorite.new do |f| %>
                <div class="section colm colm6">
                    <%= f.input :crypto_id, label: "Crypto",collection: @allcrypto %>
                </div>
                <div class="section colm colm6">
                  <%= f.input :platform1, label: "Platform n°1", collection: @allplatform %>
                </div>
                <div class="section colm colm6">
                  <%= f.input :platform2, label: "Platform n°2", collection: @allplatform %>
                </div>
                <div class="form-footer mt30">
                  <%= f.submit "Save", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
              <div class="text-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
