

<div class="container" style="margin-top: 60px;">
  <div class="layout-accounts">
    <div class="account-wrap">
      <div class="account-card">
        <div class="account-content smart-forms">
          <div class="main-title text-center">
              <h2 style="color: #073f79">Ajouter un favori</h2>
          </div>
          <div id="contact">
            <div class="form-body">
              <%= simple_form_for Favorite.new do |f| %>

                <h5 class="text-center" style="color: gray; margin-bottom: 10px;">Choisissez une Crypto-monnaie</h5>
                <div class="row" style="margin-bottom: 30px;">
                    <div class="section colm col-sm-12 text-center">
                        <%= f.input :crypto_id, label: "Crypto-monnaie",collection: @allcrypto , :include_blank => false%>
                    </div>

                </div>
                <h5 class="text-center" style="color: gray; margin-bottom: 10px;">Choisissez vos Plate-formes</h5>
                <div class="row">
                  <div class="section colm col-sm-6 text-center">
                    <%= f.input :platform1, label: "Plate-forme n°1", collection: @allplatform,  :include_blank => false %>
                  </div>
                  <div class="section colm col-sm-6 text-center">
                    <%= f.input :platform2, label: "Plate-forme n°2", collection: @allplatform.reverse,  :include_blank => false %>
                  </div>
                </div>





                <div class="form-footer mt30">
                  <%= f.submit "Sauvegarder", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
              <div class="text-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
