<div class="container">
  <div class="layout-accounts">
    <div class="account-wrap">
      <div class="account-card">
        <div class="account-content smart-forms">
          <div id="contact">
            <div class="form-body">
              <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= f.error_notification %>

                <div class="mt30 mb30">
                  <div class="main-title text-center">
                      <h3 style="color: #073f79">MOT DE PASSE OUBLIE ?</h3>
                  </div>
                </div>
                <div class="section" style="color: #8dc247" >
                  <%= f.input :email, required: true, autofocus: true %>
                </div>
                <div class="form-footer mt30">
                  <%= f.button :submit, "Envoyer", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
              <div class="text-center">
              <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
