
<header style="position: sticky; top:0px; z-index: 3">
<div class="navbar-wagon">
  <!-- Logo -->
  <% if user_signed_in? %>
  <%= link_to dashboard_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "crypteasy.png"%>
    <% end %>
  <% else %>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "crypteasy.png" %>
    <% end %>
  <% end %>


  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <%= link_to "Premium", offers_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Crypto-monnaies", cryptos_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Dashboard", dashboard_path, class: "navbar-wagon-item navbar-wagon-link" %>



    <!-- Profile picture with dropdown list -->
    <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fa fa-sign-out fa-lg btn-nav-lgo" aria-hidden="true"></i> <%= t(".sign_out", default: " ") %>
    <% end %>
    <% else %>
      <!-- Login link (when logged out) -->
    <%= link_to  t(".sign_in", default: "Se connecter"), new_user_session_path, class: "navbar-btn-login" %>

    <% end %>
  </div>
</header>
