<div style="display: none;">
  <div id="allcompactfav"><%= @allplatcompact %></div>
  <div id="minmax"><%= @minmax%></div>
  <div id="platname"><%= @platname%></div>
  <div id="cryptosname"><%= @cryptosname%></div>
</div>


<div class="container ">
  <div class="row col-md-12 mt20">
    <div class="col-md-6 offset-md-3" style="margin-top: -35px;" >
      <div class="main-title">
        <h2>Dashboard</h2>
      </div>
    </div>
    <div class="col-md-3 text-right">
      <%if @allplatcompact.size < 3%>
      <%= link_to new_favorite_path do %>
      <div style="margin-top: 31px; margin-left: 86px;">
        <span class="btn"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter un favoris</span>
      </div>
      <% end %>
      <%end%>
    </div>
  </div>
  <div class="cryptobox">
  <div class="row mb50 " style="margin-bottom: -24px !important;">
    <% if @favorites %>
      <% @favorites.each do |favorite| %>
                    <div class="col-md-12 col-lg-4 col-sm-12">

                        <div class="card-dashbord-favorite card-dashbord-favorite1" style="cursor: pointer;">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="card-dashbord-favorite-image">
                                <img src="<%= favorite.crypto.photo_url %>", width="100">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="card-favorite-content">
                                <% vp1 = Exchangetimevalue.where(crypto: favorite.crypto, platform: Platform.find(favorite.platform1.to_i)).last.euro %>
                                <% vp2 = Exchangetimevalue.where(crypto: favorite.crypto, platform: Platform.find(favorite.platform2.to_i)).last.euro %>
                                <% if vp1 > vp2 %>
                                  <div style="margin-bottom: 10px;">
                                    <h4 style="color: green"><%= vp1 %> €</h4>
                                    <div style="color: blue"><%= Platform.find(favorite.platform1.to_i).name %></div>
                                  </div>
                                  <div style="margin-top: 10px;">
                                    <h4 style="color: #e8272a"><%= vp2 %> €</h4>
                                    <div style="color: blue"><%= Platform.find(favorite.platform2.to_i).name %></div>
                                  </div>
                                <% else %>
                                  <div style="margin-bottom: 10px;">
                                    <h4 style="color: #e8272a"><%= vp1 %> €</h4>
                                    <div style="color: blue"><%= Platform.find(favorite.platform1.to_i).name %></div>
                                  </div>
                                  <div style="margin-top: 10px;">
                                    <h4 style="color: green"><%= vp2 %> €</h4>
                                    <div style="color: blue"><%= Platform.find(favorite.platform2.to_i).name %></div>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          </div>
                          <div class="row text-center">
                            <div class="col-md-6 offset-md-6">
                              <div class="text-right" style="margin-right: 5px;">
                                <%= link_to favorite_path(favorite), method: :delete, data: {confirm: "Etes vous sur de vouloir supprimer ce favoris?"} do %>
                                  <i class="fa fa-trash-o" aria-hidden="true" style="color: gray"></i>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </div>

                      <div style="margin-top: -17px;">
                        <div class="row text-center">
                          <div class="col-sm-6">
                            <div style=" background-color: white; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); margin-right: -16px;">
                              <%= link_to crypto_path(favorite.crypto.id), class: 'card-p-ki-soule' do %>
                                <p>View details</p>
                              <% end %>
                            </div>
                          </div>
                          <div class="col-sm-6 card-p-ki-soule">
                            <div style=" background-color: white; box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); margin-left: -16px;">
                              <%= link_to favorite_alerts_path(favorite.id), class: 'card-p-ki-soule' do %>
                                Create an alert
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
      <% end %>
    <% end %>

  </div>
  <h5 class="text-center main-title" id="titleplat"></h5>
  <% if @favorites.size >= 1%>
  <div class='card mt20'>
    <div class="card-top">
      <h4 class="card-title"></h4>
    </div>
    <div class='card-content'>
      <div class="flot-chart">
        <div class="flot-chart-content" id="flot-line-chart-multi00"></div>
      </div>
    </div>
  </div>
<%end%>

</div>
  <!-- Line -->
  <div class="mt50" style="background-color: gray; height: 1px;"></div>
  <!-- End line -->


  <div class="col-sm-12">
    <div class="row mb50 mt50">
      <div class="col-sm-1">
        <i class="fa fa-info-circle fa-2x mt30" aria-hidden="true"></i>
      </div>
      <div class="col-sm-8">
        <h5>
          Pourquoi ajouter des favoris?
        </h5>
        <p>
          L'ajout d'un favoris vous permet de comparer, en temps réel, la valeur d'une cryptomonnaie par rapport à deux plateforme et vous permet également d'initier des alertes par SMS lorsqu'un de vos favoris atteint un seuil que vous pouvez définir.
        </p>
      </div>
      <div class="col-sm-3">
        <%if @allplatcompact.size < 3%>
        <%= link_to new_favorite_path do %>
          <span class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>Ajouter un favoris</span>
        <% end %>
        <%end%>
      </div>
    </div>
  </div>
</div>



<%= content_for(:after_js) do %>
  <script type="text/javascript">

    var settitle = document.getElementById("titleplat");

    var cryptosname = document.getElementById("cryptosname");
    cryptosname = cryptosname.innerHTML;
    cryptosname = JSON.parse(cryptosname);


    var minmax = document.getElementById("minmax");
    minmax = minmax.innerHTML;
    minmax = JSON.parse(minmax);
    console.log(minmax);

    var platname = document.getElementById("platname");
    platname = platname.innerHTML;
    platname = JSON.parse(platname);


    var plat = document.getElementById("allcompactfav");
   plat = plat.innerHTML;
   plat = JSON.parse(plat);

   var carddash = document.getElementsByClassName("card-dashbord-favorite1");
   console.log(carddash);
      settitle.innerHTML = cryptosname[0][0] + " (" + cryptosname[0][1] + ")";
      datas = plat[0][0];
       datas1 = plat[0][1];
       $(function() {


           var oilprices = datas
           var exchangerates = datas1

           function euroFormatter(v, axis) {
               return v.toFixed(axis);
           }

           function doPlot(position) {

               $.plot($("#flot-line-chart-multi00"), [{
                   data: datas,
                   fill: true,
                   label: platname[0][0]
               }, {
                   data: datas1,
                   fill: true,


                   label: platname[0][1],

               }], {
                   series: {
                       lines: {
                           show: true,
                           lineWidth: 2,
                           fill: true,
                           fillColor: {
                               colors: [{
                                   opacity: 0.0
                               }, {
                                   opacity: 0.0
                               }]

                           }
                       }
                   },
                   xaxes: [{
                       mode: 'time',
                       unit: 'day',
                   }],
                   yaxes: [{
                       tickDecimals: 2,
                       min: minmax[0][0] - (minmax[0][1] - minmax[0][0]),
                       max: minmax[0][1] + (minmax[0][1] - minmax[0][0])

                   }, {
                       // align if we are to the right
                       alignTicksWithAxis: position == "right" ? 1 : null,
                       position: position,
                       tickFormatter: euroFormatter
                   }],
                   legend: {
                       position: 'sw'
                   },
                   colours: ["#60f305"],
                   grid: {
                       color: "#999999",
                       hoverable: true,
                       clickable: true,
                       tickColor: "#D4D4D4",
                       borderWidth: 0,
                       hoverable: true //IMPORTANT! this is needed for tooltip to work,

                   },
                   tooltip: true,
                   tooltipOpts: {
                       content: "x: %x  y: %y",

                       onHover: function(flotItem, $tooltipEl) {
                           // console.log(flotItem, $tooltipEl);
                       }
                   }

               });
           }

           doPlot("right");

           $("button").click(function() {
               doPlot($(this).text());
           });
       });


  </script>
<% end %>
