<div style="display: none;">
    <%@timevalues = Exchangetimevalue.where("platform_id = '1' AND crypto_id = '1'").first(100) %>
    <%@timevalues1 = Exchangetimevalue.where("platform_id = '1' AND crypto_id = '2'").first(100)%>
    <%@timevalues2 = Exchangetimevalue.where("platform_id = '1' AND crypto_id = '3'").first(100)%>
    <%@alltimevalues = []%>
    <%@alltimevalues1 = []%>
    <%@alltimevalues2 = []%>
    <%@min = @timevalues[0].euro.to_f%>
    <%@max = @timevalues[0].euro.to_f%>
    <%@min1 = @timevalues1[0].euro.to_f%>
    <%@max1 = @timevalues1[0].euro.to_f%>
    <%@min2 = @timevalues2[0].euro.to_f%>
    <%@max2 = @timevalues2[0].euro.to_f%>
    <%@timevalues.each_with_index do |timeval, ind|%>
    <%=  @alltimevalues << [timeval.created_at.to_time.to_i * 1000,timeval.euro]%>
    <%  if timeval.euro < @min%>
      <%=    @min = timeval.euro.to_f%>
    <% end%>
    <% if timeval.euro > @max%>
      <%=    @max = timeval.euro.to_f%>
    <% end%>

    <%end%>

    <%@timevalues1.each_with_index do |timeval, ind|%>
    <%=  @alltimevalues1 << [timeval.created_at.to_time.to_i * 1000,timeval.euro]%>
    <%  if timeval.euro < @min1%>
      <%=    @min1 = timeval.euro.to_f%>
    <% end%>
    <% if timeval.euro > @max1%>
      <%=    @max1 = timeval.euro.to_f%>
    <% end%>

    <%end%>

    <%@timevalues2.each_with_index do |timeval, ind|%>
    <%=  @alltimevalues2 << [timeval.created_at.to_time.to_i * 1000,timeval.euro]%>
    <%  if timeval.euro < @min2%>
      <%=    @min2 = timeval.euro.to_f%>
    <% end%>
    <% if timeval.euro > @max2%>
      <%=    @max2 = timeval.euro.to_f%>
    <% end%>

    <%end%>


  <div id="demochartline"><%= @alltimevalues%></div>
  <div id="demochartline1"><%= @alltimevalues1%></div>
  <div id="demochartline2"><%= @alltimevalues2%></div>

  <div id="minval"><%= @min%></div>
  <div id="maxval"><%= @max%></div>

  <div id="minval1"><%= @min1%></div>
  <div id="maxval1"><%= @max1%></div>

  <div id="minval2"><%= @min2%></div>
  <div id="maxval2"><%= @max2%></div>


</div>


  <%= link_to "je veux sortir batard", destroy_user_session_path, method: :delete %>
<div class="page-wrapper">
   <main class="main-content" style="margin-bottom: 0px;">
      <!--/////////////////////////////// End navbar////////////////////////////-->
      <div class="content">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="row">
                     <div class='col-md-12'>
                        <div class='card'>
                           <div class="card-top">
                              <h4 class="card-title">Line Chart</h4>
                           </div>
                           <div class='card-content'>
                              <div class="flot-chart1">
                                 <div class="flot-chart-content" id="flot-line-chart0"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class='col-md-12'>
                        <div class='card'>
                           <div class="card-top">
                              <h4 class="card-title">Line Chart</h4>
                           </div>
                           <div class='card-content'>
                              <div class="flot-chart1">
                                 <div class="flot-chart-content" id="flot-line-chart1"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class='col-md-12'>
                        <div class='card'>
                           <div class="card-top">
                              <h4 class="card-title">Line Chart</h4>
                           </div>
                           <div class='card-content'>
                              <div class="flot-chart1">
                                 <div class="flot-chart-content" id="flot-line-chart2"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6" >
                <div style="display: flex; flex-direction: column; justify-content: space-between;">
                  <div class="row">
                    <div class="col-md-12">
                      <div style="box-shadow: 0px 0px 20px rgba(0, 0, 0, .2); border-radius: 5px; padding-right: 5px; padding-left: 5px; margin-right: 15px; margin-left: 14px; margin-bottom: 26px;">
                        <div style="padding: 25px;">
                        <h4 class="card-title"> Service </h4>
                        <p style="color: black;">
                          Crypt easy est un comparateur en temps réel des principales plateformes de trading de crypto-monnaies.
Nous vous aidons à optimiser vos achats-revente de celles-ci pour maximiser vos profits.
                        </p>
                        </div>
                      </div>
                  </div>
                    <div class="col-md-12">
                      <%= render "devise/registrations/new" %>
                    </div>

                  </div>
                </div>
               </div>
            </div>
         </div>
         <!--container-->
      </div>
      <!--content-->
   </main>
   <!--main content-->
</div>

            <!--/////////////////////////////// End Content////////////////////////////-->



<%= content_for(:after_js) do %>
  <script type="text/javascript">
    var datas = document.getElementById("demochartline");
    var datas1 = document.getElementById("demochartline1");
    var datas2 = document.getElementById("demochartline2");


    var min = document.getElementById("minval");
    var max = document.getElementById("maxval");

    var min1 = document.getElementById("minval1");
    var max1 = document.getElementById("maxval1");

    var min2 = document.getElementById("minval2");
    var max2 = document.getElementById("maxval2");

    console.log(datas);
    console.log(max2);
    console.log(min2);


    min = min.innerHTML;
    max = max.innerHTML;

    min1 = min1.innerHTML;
    max1 = max1.innerHTML;

    min2 = min2.innerHTML;
    max2 = max2.innerHTML;

    datas = datas.innerHTML;
    datas1 = datas1.innerHTML;
    datas2 = datas2.innerHTML;


    min = JSON.parse(min);
    max = JSON.parse(max);

    min1 = JSON.parse(min1);
    max1 = JSON.parse(max1);

    min2 = JSON.parse(min2);
    max2 = JSON.parse(max2);

    datas = JSON.parse(datas);
    datas1 = JSON.parse(datas1);
    datas2 = JSON.parse(datas2);


if (document.getElementById("flot-line-chart0") && document.getElementById("demochartline")) {
$(function() {
    var barOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.0
                    }, {
                        opacity: 0.0
                    }]
                }
            }
        },
        xaxis: {

            tickDecimals: 0,
            mode: 'time',
            timeformat: "%m/%d/%H:%M",
            unit: 'day',
            ticks: {
                    display: false
                }



        },
        yaxis: {
            tickDecimals: 2,
            min: min - 5.0,
            max: max + 5.0
        },
        colors: ["#0073ff"],
        grid: {
            color: "#999999",
            hoverable: true,
            clickable: true,
            tickColor: "#D4D4D4",
            borderWidth:0
        },
        legend: {
            show: true,
            position: "sw"
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y",

        }
    };


    var barData = {
        label: "BTC/EUR Kraken",
        tickDecimals: 2,
        data: datas,

    };
    $.plot($("#flot-line-chart0"), [barData], barOptions);

});

}
if (document.getElementById("flot-line-chart1") && document.getElementById("demochartline1")) {
$(function() {
    var barOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.0
                    }, {
                        opacity: 0.0
                    }]
                }
            }
        },
        xaxis: {
            tickDecimals: 0,
            mode: 'time',
            timeformat: "%m/%d/%H:%M",
            unit: 'day',
            ticks: {
                    display: false
                }
        },
        yaxis: {
            tickDecimals: 2,
            min: min1 - 0.5,
            max: max1 + 0.5
        },
        colors: ["#0073ff"],
        grid: {
            color: "#999999",
            hoverable: true,
            clickable: true,
            tickColor: "#D4D4D4",
            borderWidth:0
        },
        legend: {
            show: true,
            position: "sw"
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };


    var barData = {
        label: "ETH/EUR Gdax",
        tickDecimals: 2,
        data: datas1,

    };
    $.plot($("#flot-line-chart1"), [barData], barOptions);

});
}

if (document.getElementById("flot-line-chart2") && document.getElementById("demochartline2")) {
$(function() {
    var barOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.0
                    }, {
                        opacity: 0.0
                    }]
                }
            }
        },
        xaxis: {
            tickDecimals: 0,
            mode: 'time',
            timeformat: "%m/%d/%H:%M",
            unit: 'day',
            ticks: {
                    display: false
                }
        },
        yaxis: {
            tickDecimals: 2,
            min: min2 - 0.5,
            max: max2 + 0.5
        },
        colors: ["#0073ff"],
        grid: {
            color: "#999999",
            hoverable: true,
            clickable: true,
            tickColor: "#D4D4D4",
            borderWidth:0
        },
        legend: {
            show: true,
            position: "sw"
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };


    var barData = {
        label: "LTC/EUR Bitstamp",
        tickDecimals: 2,
        data: datas2,

    };
    $.plot($("#flot-line-chart2"), [barData], barOptions);

});
}
  </script>
<% end %>
