
<div class="container col-md-6 col-md-offset-3 cryptobox mt50 pb50", style="padding-left: 50px; background-color: #ffffff">
  <div class="main-title text-center">
    <h2>Rappel de la commande n°<%= @order.id %> : </h3>
  </div>
  <h5>
    Vous allez souscrire à l'abonnement "<%= @order.offer_sku %>",
  </h5>
  <h5>
    Son montant mensuel est de <%= humanized_money(@order.amount) %>.00€.
  </h5>
  <h5>
    L'offre s'activera immédiatement après récéption du paiement.
  </h5>
  <div class="col-md-12 pl30">
    <%= form_tag order_payments_path(@order) do %>
      <div class="pt50 text-center">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My Offer"
          data-email="<%= current_user.email %>"
          data-description="Offer <%= @order.offer_sku %>"
          data-amount="<%= @order.amount_cents %>"
          data-currency="<%= @order.amount.currency %>"></script>
      </div>
    <% end %>
  </div>
</div>


