<div class="container col-md-6 col-md-offset-3 cryptobox mt30" style="background-color: #ffffff">
  <div class="main-title">
    <h3>Rappel de la commande n°<%= @order.id %>, offre "<%= @order.offer_sku %>"</h3>
  </div>
  <div class="col-md-12 pl30">
    <%= form_tag order_payments_path(@order) do %>
      <article>
        <div class="row">
          <label class="col-md-8">
            <span><h5 style="opacity: 0.7;">Montant: <h3> <%= humanized_money(@order.amount) %> € par mois </h3></h5></span>
          </label>
          <br>
          <label class="col-md-4">
            <h5 style="opacity: 0.7;">Status: <h3><%= @order.state %></h3></h5>
          </label>
        </div>
      </article>
      <div class="col-md-4 offset-md-8 pb50 mt50">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-name="My Offer"
          data-email="<%= current_user.email %>"
          data-description="Offer <%= @order.offer_sku %>"
          data-amount="<%= @order.amount_cents %>"
          data-currency="<%= @order.amount.currency %>"></script>
      </div>
    <% end %>
  </div>
</div>
