
<h1><%= @offer.name %></h1>

<%= @offer.description %>

<p>Some awesome description of our amazing offer.</p>

<p>Amount: <%= humanized_money_with_symbol(@offer.price) %></p>

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'offer_id', @offer.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
