<div style="display: none;">
<div id="demochartline"><%= @alltimevalues%></div>
<div id="demochartline1"><%= @alltimevalues1%></div>
<div id="minval"><%= @min%></div>
<div id="maxval"><%= @max%></div>
</div>



<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    const coord = <%= raw @flat_coordinates.to_json %>;
    alert('Flat coordinates are ' + coord.lat + ', ' + coord.lng);
  <% end %>
<% end %>

<h1>Cryptos#index</h1>
<p>Find me in app/views/cryptos/index.html.erb</p>





