<div style="display: none;">
<div id="demochartline"><%=@alltimevalues%></div>
<div id="minval"><%=@min%></div>
<div id="maxval"><%=@max%></div>
</div>



<div class="content mt10">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class='card mb10'>
          <div class="card-top">
            <p class="card-title text-left">
              <%= link_to cryptos_path do %>
                <i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>
              <% end %>
            </p>
            <% if params[:platform] %>
              <p class="card-title text-right"><%= Platform.find(params[:platform]).name %></p>
            <% else %>
              <p class="card-title text-right"><%= Platform.find(1).name %></p>
            <% end %>
          </div>
          <div class="container">
            <div class="row text-center">
              <div class="card col-md-6">
                <div class='card-content mt20'>
                  <p>
                    <img src="<%= Crypto.find(params[:id]).photo_url %>", width="50">
                    <% if params[:platform] %>
                      <p><%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:created_at).last.euro %> €</p>
                    <% else %>
                      <p><%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:created_at).last.euro %> €</p>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-content mt20">
                  <p style="color:green;">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).last.euro %> €
                    <% else %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).last.euro %> €
                    <% end %>
                  </p>
                </div>
                <div class="card-content mt20">
                  <p style="color:red;">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).first.euro %> €
                    <% else %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).first.euro %> €
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- Insérer le graph ici -->
        <div class='card'>
           <div class="card-top">
              <h4 class="card-title">Line Chart</h4>
           </div>
           <div class='card-content'>
              <div class="flot-chart2">
                 <div class="flot-chart-content" id="flot-line-chart00"></div>
              </div>
           </div>
        </div>
      </div>

      <div class="col-md-4 mb30">
        <div class='card mb10'>
          <div class="card-top">
            <h4 class="card-title">Platforms</h4>
          </div>
          <div class='card-content pb20'>
            <table class="table table-stripped">
                <tbody>

                  <% Platform.all.each do |platform| %>
                    <tr>
                      <td>
                        <%= link_to platform.name, "/cryptos/#{Crypto.find(params[:id]).id}?platform=#{platform.id}", class: "btn" %>
                      </td>
                      <td>
                        <%= link_to  do %>
                          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  <tr>
                      <td>
                        <%= link_to 'Etoro', "", class: "btn" %>
                      </td>
                      <td>
                        <%= link_to  do %>
                          <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                        <% end %>
                      </td>
                    </tr>

                </tbody>
              </table>
          </div>
        </div>

        <div class='card'>
          <div class="card-top">
            <h4 class="card-title">Calculator</h4>
          </div>
          <div class='card-content pb20'>
            <form action="" name="myForm">
              € <input class="text-left" id="amount" type="number" step="100" placeholder="Amount" required>
              <button type="submit" value="Calculate" id="myBtn" class="btn btn-primary text-center">Calculate!</button>
            </form>
          </div>
        </div>

        <!-- POPUP -->
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div id="boxresult">
              <div class="row">
                <div class="col-md-12">
                  <div class='card mb10'>
                    <div class="card-top">
                      <img src="<%= Crypto.find(params[:id]).photo_url %>", width="50">
                      <p class="card-title text-left">
                        Achetez et vendez vos <%= @crypto.name %> au meilleur taux.
                      </p>
                    </div>
                    <div class="container">
                      <div class="row text-center">
                        <div class="card col-md-6">
                          <div class='card-content mt20'>
                            <p>
                              Votre investissement: <span id="quantity"></span>€
                              <br>
                              Vos gains potentiels: <span id="gain"></span>€
                              <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                              (<span id="percent" style="color:green;"></span>%)
                            </p>
                          </div>
                        </div>
                        <div class="card col-md-6">
                          <div class="card-content mt20">
                            <p style="color:green;">
                              <i class="fa fa-arrow-up" aria-hidden="true"></i>
                              <%= @platform_high %>: <%= @highest_price %>€
                            </p>
                          </div>
                          <div class="card-content mt20">
                            <p style="color:red;">
                              <i class="fa fa-arrow-down" aria-hidden="true"></i>
                              <%= @platform_low %>: <%= @lowest_price %>€
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- POPUP END -->
      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
    var datas = document.getElementById("demochartline");


    var min = document.getElementById("minval");
    var max = document.getElementById("maxval");



    console.log(datas);
    console.log(max);
    console.log(min);


    min = min.innerHTML;
    max = max.innerHTML;
    datas = datas.innerHTML;


    min = JSON.parse(min);
    max = JSON.parse(max);
    datas = JSON.parse(datas);


$(function() {
    var barOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.2
                    }, {
                        opacity: 0.2
                    }]
                }
            }
        },
        xaxis: {
            mode: 'time',
                unit: 'day',
        },
        yaxis: {
            tickDecimals: 2,
            min: min - ((max - min)/3),
            max: max + ((max - min)/3)
        },
        colors: ["#0073ff"],
        grid: {
            color: "#999999",
            hoverable: true,
            clickable: true,
            tickColor: "#D4D4D4",
            borderWidth:0
        },
        legend: {
            show: true,
            position: "sw"
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };


    var barData = {
        label: "BTC/EUR Kraken",
        tickDecimals: 2,
        data: datas,

    };
    $.plot($("#flot-line-chart00"), [barData], barOptions);

});

  </script>

  <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
      event.preventDefault();
      let quantity = document.getElementById("amount").value
      if (quantity !== "") {
        let gain = (quantity/(<%= @lowest_price %>)*(<%= @highest_price %>))-quantity;
        let percent = (gain/quantity)*100 || 0;
        document.getElementById("quantity").innerHTML = quantity;
        document.getElementById("gain").innerHTML = gain.toFixed(2);
        document.getElementById("percent").innerHTML = percent.toFixed(2);
        modal.style.display = "block";
      } else {
        alert("Merci d'entrer une valeur d'investissement.");
      }
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
    }

  </script>

<% end %>

