<div class="content mt40">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb30">
        <div class='card' style="display:flex; justify-content: space-around;">
          <div class="card-top">
            <h4 class="card-title"><%= Crypto.find(params[:id]).name %></h4>
          </div>
          <div class="card">
            <div class='card-content'>
              <p class="mt10">
                Last price:
                <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:created_at).last.euro %> €
              </p>
            </div>
          </div>
          <div class="card">
            <div class="card-content">
              <p class="mt10" style="color:green;">
                Highest price:
                <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).last.euro %> €
              </p>
              <p class="mt10" style="color:red;">
                Lowest price:
                <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).first.euro %> €
              </p>
            </div>
          </div>
        </div>

<!-- Insérer le graph ici -->

      </div>

      <div class="col-md-4 mb30">
        <div class='card'>
          <div class="card-top">
            <h4 class="card-title">Platforms</h4>
          </div>
          <div class='card-content'>
            <table class="table table-stripped">
                <tbody>
                    <% Platform.all.each do |platform| %>
                      <tr>
                        <td>
                          <%= platform.name %>
                        </td>
                        <td>
                          <button class="btn btn-secondary" id="btn-platform">Go</button>
                        </td>
                      </tr>
                    <% end %>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

