<div style="display: none;">
<div id="demochartline"><%=@alltimevalues%></div>
<div id="minval"><%=@min%></div>
<div id="maxval"><%=@max%></div>
</div>



<div class="content mt10">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class='card mb10'>
          <div class="card-top">
            <p class="card-title text-left">
              <%= link_to cryptos_path do %>
                <i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>
              <% end %>
            </p>
            <% if params[:platform] %>
              <p class="card-title text-right"><%= Platform.find(params[:platform]).name %></p>
            <% else %>
              <p class="card-title text-right"><%= Platform.find(1).name %></p>
            <% end %>
          </div>
          <div class="container">
            <div class="row text-center">
              <div class="card col-md-6">
                <div class='card-content mt20'>
                  <p>
                    <img src="<%= Crypto.find(params[:id]).photo_url %>", width="50">
                    <% if params[:platform] %>
                      <p><%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:created_at).last.euro %> €</p>
                    <% else %>
                      <p><%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:created_at).last.euro %> €</p>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-content mt20">
                  <p style="color:green;">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).last.euro %> €
                    <% else %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).last.euro %> €
                    <% end %>
                  </p>
                </div>
                <div class="card-content mt20">
                  <p style="color:red;">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).first.euro %> €
                    <% else %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).first.euro %> €
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- Insérer le graph ici -->
        <div class='card'>
           <div class="card-top">
              <h4 class="card-title">Line Chart</h4>
           </div>
           <div class='card-content'>
              <div class="flot-chart2">
                 <div class="flot-chart-content" id="flot-line-chart00"></div>
              </div>
           </div>
        </div>
      </div>

      <div class="col-md-4 mb30">
        <div class='card mb10'>
          <div class="card-top">
            <h4 class="card-title">Platforms</h4>
          </div>
          <div class='card-content pb20'>
            <table class="table table-stripped">
                <tbody>

                  <% Platform.all.each do |platform| %>
                    <tr>
                      <td>
                        <%= link_to platform.name, "/cryptos/#{Crypto.find(params[:id]).id}?platform=#{platform.id}", class: "btn" %>
                      </td>
                      <td>
                        <%= link_to 'Website', "/cryptos/#{Crypto.find(params[:id]).id}?platform=#{platform.id}", class: "btn btn-secondary" %>
                      </td>
                    </tr>
                  <% end %>

                </tbody>
              </table>
          </div>
        </div>

        <div class='card'>
          <div class="card-top">
            <h4 class="card-title">Calculator</h4>
          </div>
          <div class='card-content pb20'>
            € <input style="width:100px;" class="text-left" id="quantity" type="number" name="quantity" min="100" max="10000" step="100" placeholder="Amount">
            <input type="submit" value="Calculate" id="calcul" class="btn btn-primary" >
            <div id="boxresult"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<%= content_for(:after_js) do %>
  <script type="text/javascript">
    var datas = document.getElementById("demochartline");


    var min = document.getElementById("minval");
    var max = document.getElementById("maxval");



    console.log(datas);
    console.log(max);
    console.log(min);


    min = min.innerHTML;
    max = max.innerHTML;
    datas = datas.innerHTML;


    min = JSON.parse(min);
    max = JSON.parse(max);
    datas = JSON.parse(datas);


$(function() {
    var barOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.0
                    }, {
                        opacity: 0.0
                    }]
                }
            }
        },
        xaxis: {
            tickDecimals: 0,
            mode: 'time',
            timeformat: "%m/%d/%H:%M",
            unit: 'day',
            ticks: {
                    display: false
                }
        },
        yaxis: {
            tickDecimals: 2,
            min: min - 5.0,
            max: max + 5.0
        },
        colors: ["#0073ff"],
        grid: {
            color: "#999999",
            hoverable: true,
            clickable: true,
            tickColor: "#D4D4D4",
            borderWidth:0
        },
        legend: {
            show: true,
            position: "sw"
        },
        tooltip: true,
        tooltipOpts: {
            content: "x: %x, y: %y"
        }
    };


    var barData = {
        label: "BTC/EUR Kraken",
        tickDecimals: 2,
        data: datas,

    };
    $.plot($("#flot-line-chart00"), [barData], barOptions);

});

  </script>

  <script>
    document.getElementById("calcul").addEventListener("click", function(){
      let quantity = document.getElementById("quantity").value
      if (quantity < 1000) {
        alert("Little player...");
      } else {
        alert("Dammit...! You realize you can also loose everything?");
      }

      let gain = (quantity/(<%= @lowest_price %>)*(<%= @highest_price %>))-quantity
      let percent = (gain/quantity)*100 || 0
      document.getElementById("boxresult").innerHTML =
        "<br><h4> Désolé pour le front, nous allons règler celà prochainement</h4><br><p>You should by your <strong><%= @crypto.name %></strong> on <strong><%= @platform_low %></strong> where the price is currently <strong><%= @lowest_price %>€</strong> and sell it on <strong><%= @platform_high %></strong> where the price is currently <strong><%= @highest_price %>€</strong>. If you invest " + quantity + "€ in <%= @crypto.name %> on <%= @platform_low %> and sell it on <%= @platform_high %> you will increase your investment by: <br> <strong>" + gain.toFixed(2) +"€</strong> <br><strong>+" + percent.toFixed(2) + "%</p></strong>";
    });

  </script>

<% end %>

