<div style="display: none;">
<div id="demochartline"><%=@alltimevalues%></div>
<div id="minval"><%=@min%></div>
<div id="maxval"><%=@max%></div>

    <div id="demochartline1"><%= @alltimevalues1%></div>
    <div id="demochartline2"><%= @alltimevalues2%></div>

    <div id="minval2"><%= @min2%></div>
    <div id="maxval2"><%= @max2%></div>
    <div id="minval1"><%= @min1%></div>
    <div id="maxval1"><%= @max1%></div>

  <%if params[:platform]%>
    <div id="platformid"><%=Platform.find(params[:platform]).name%></div>
  <%end%>
  <div id="cryptoid"><%=Crypto.find(params[:id]).accronym%></div>

</div>

<div class="content mt10">
  <p class="col-md-1 text-left pt20" style="position: sticky; top: 60px; z-index: 8;">
    <%= link_to :back do %>
      <i class="fa fa-chevron-left" aria-hidden="true"></i><span>  Retour</span>
    <% end %>
  </p>
  <div class="main-title">
    <h1>
      <%= @crypto.name %> (<%= @crypto.accronym %>)
    </h1>
  </div>
  <div class="container cryptobox" style="width: 80%;">
    <div class="row">
      <div class="col-md-8">
        <div class='mb30'>
          <div class="row">
            <div class="col-md-4 offset-md-4 mb10">
              <% if params[:platform] %>
                <h3 class="text-center" id="platformLegend"><%= Platform.find(params[:platform]).name %></h3>
              <% else %>
                <h3 class="text-center" id="platformLegend"><%= Platform.find(1).name %></h3>
              <% end %>
            </div>
          </div>
          <div class="container">
            <div class="row text-center">
              <div class="card col-md-6">
                <div class='card-content mt20'>
                  <p>
                    <img src="<%= Crypto.find(params[:id]).photo_url %>", width="50">
                    <% if params[:platform] %>
                      <p id= "pricetest"></p>
                    <% else %>
                      <p id= "pricetest"></p>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-content mt20">
                  <p style="color:green;">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <span style="color:green;" id="highprice24"><%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).last.euro %> €</span>
                    <% else %>
                      <span style="color:green;" id="highprice24"><%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).last.euro %> €</span>
                    <% end %>
                  </p>
                </div>
                <div class="card-content mt20">
                  <p style="color:red;">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <span style="color:red;" id="lowprice24"><%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).first.euro %> €</span>
                    <% else %>
                      <span style="color:red;" id="lowprice24"><%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).first.euro %> €</span>
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Insérer le graph ici -->
        <div class=''>
          <div class="card">
            <div class="card-top" style="padding: 15px">
              <h4 class="card-title" id="titlegraph"></h4>
            </div>
            <div class='card-content'>
              <div class="flot-chart2">
                <div class="flot-chart-content" id="flot-line-chart00"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class='mb30'>
          <div class="text-center">
            <h3 class="col-md-8 offset-md-2 mb20">Calculateur</h3>
          </div>
          <div class='card pb20 pt20 mb30' style="margin-bottom: -8px;">
            <form action="" name="myForm">
              <div class="text-center">
                <input id="amount" type="number" step="100" placeholder="Ex: 1000 €" required class="col-md-6">
                <button type="submit" value="Calculate" id="myBtn" class="btn btn-primary mt10 col-md-6" style="border: none;">Calculer !</button>
              </div>
            </form>
          </div>
        </div>

        <div class=''>
          <div class="text-center">
            <h4 class="col-md-8 offset-md-2">Plate-formes</h4>
          </div>
          <div class="card">
            <div class='card-content mt20'>
              <table class="table table-stripped">
                <tbody>
                  <tr>
                    <td>
                      <button id="selectplatKraken" style="color: blue; border: none; cursor:pointer;"">KRAKEN</button>
                    </td>
                    <td>
                      <%= link_to "https://www.kraken.com/signup", :target => "_blank"  do %>
                       <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button id="selectplatGdax" style="color: blue; border: none; cursor:pointer;">GDAX</button>
                    </td>
                    <td>
                      <%= link_to "https://www.coinbase.com/users/oauth_signup?client_id=2e7433cc0730d8cb8c77dd30e04b5658aacbf7612b2bad8aa7bb97b87fc0f876&meta%5Baccount%5D=all&redirect_uri=https%3A%2F%2Fwww.gdax.com%2Foauth_redirect&response_type=code&scope=user+balance&state=dc2aadb4-763a-408f-bd6b-2d58a914edae", :target => "_blank"  do %>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button id="selectplatBitstamp" style="color: blue; border: none; cursor:pointer;">BITSTAMP</button>
                    </td>
                    <td>
                      <%= link_to "https://www.bitstamp.net/account/register/", :target => "_blank"  do %>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button id="selectplatEtoro" style="color: blue; border: none; cursor:pointer;">ETORO</button>
                    </td>
                    <td>
                      <%= link_to  do %>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <button id="selectplatBittrex" style="color: blue; border: none; cursor:pointer;">BITFINEX</button>
                    </td>
                    <td>
                      <%= link_to  do %>
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- POPUP -->
      <div id="myModal" class="modal">
       <!-- Modal content -->
        <div class="modal-content">
          <span class="close text-right mb10">&times;</span>
          <div id="boxresult">
            <div class="row">
              <div class="col-md-12">
                <div class='mb10'>
                  <h3 class="col-md-12 text-center mb30">
                    <img src="<%= Crypto.find(params[:id]).photo_url %>", width="50">
                    Vos <%= @crypto.name %>s au meilleur taux.
                  </h3>
                  <div class="container mb30">
                    <div class="row text-center">
                      <div class="card col-md-5 offset-md-1">
                        <div class="card-content mt20">
                          <p style="color:green;">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                            <%= @platform_high %>: <%= @highest_price %>€
                          </p>
                        </div>
                        <div class="card-content mt20">
                          <p style="color:red;">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            <%= @platform_low %>: <%= @lowest_price %>€
                          </p>
                        </div>
                      </div>
                      <div class="card col-md-5">
                        <div class="card-content mt20">
                          <p >
                             Votre investissement: <span id="quantity"></span>€
                          </p>
                        </div>
                        <div class="card-content mt20">
                          <p>
                            Marge: <span id="gain"></span>€
                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                            (<span id="percent" style="color:green;"></span>%)
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row mt10">
              <div class="col-md-12">
                <p class="card-title text-center pb20">
                  Achetez les sur <span style="color: #34495e"><strong><%= @platform_low %></strong></span> et vendez les sur <span style="color: #34495e"><strong><%= @platform_high %></strong></span> *.
                </p>
                <p style="font-size: 11px;">
                  * Ces informations ne sont en aucun cas fiables à 100%. Il s'agit uniquement d'approximations par rapport au cours en temps réel sur les différentes plate-formes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- POPUP END -->
    </div>
  </div>
</div>




<%= content_for(:after_js) do %>
  <script type="text/javascript">

  function blink(selector) {
    for (i = 0; i < 6; i++) {
      setTimeout(function () {
        $(selector).toggleClass('hidden');
      }, 200 * i)
    }
  };


    var boole00 = 0;
    var boole0 = 0;
    var boole1 = 0;
    var boole2 = 0;




    var datas = document.getElementById("demochartline");
    var datas1 = document.getElementById("demochartline1");
    var datas2 = document.getElementById("demochartline2");
    var xtest = document.getElementById("pricetest");

    var plattitle = document.getElementById("titlegraph");



    var selectplat = document.getElementById("selectplatGdax");
    var selectplatK = document.getElementById("selectplatKraken");
    var selectplatB = document.getElementById("selectplatBitstamp");

    var platformLeg = document.getElementById("platformLegend");

    var platformidd = document.getElementById("platformid");
    var theplatform = "...";
    var cryptoidd = document.getElementById("cryptoid");
    var highestprice = document.getElementById("highprice24");
    if (platformidd == null) {
      platformidd = "Kraken";
    }

    else {
      platformidd = platformidd.innerHTML;
    }

    var lowestprice = document.getElementById("lowprice24");
    cryptoidd = cryptoidd.innerHTML;

    function fn60sec() {
    // runs every 60 sec and runs on init.
    fetch(`https://min-api.cryptocompare.com/data/price?fsym=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {


       if ((xtest.innerHTML != json['EUR'] + "€"))
      {
        xtest.innerHTML = json['EUR'] + "€";
        $(function() {
          if (boole00 == 1){
          blink('#pricetest');
        }
        else{
          boole00 = 1;
        }
        });
      }
      boole0 = 1;
      boole1 = 1;
      boole2 = 1;





    });
    fetch(`https://min-api.cryptocompare.com/data/pricemultifull?fsyms=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {
      highestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['HIGH24HOUR'] + "€";
      lowestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['LOW24HOUR'] + "€"
    });
}
    fn60sec();
    setInterval(fn60sec, 5*1000);

    var min = document.getElementById("minval");
    var max = document.getElementById("maxval");

    var min1 = document.getElementById("minval1");
    var max1 = document.getElementById("maxval1");

    var min2 = document.getElementById("minval2");
    var max2 = document.getElementById("maxval2");



    min = min.innerHTML;
    max = max.innerHTML;

    min1 = min1.innerHTML;
    max1 = max1.innerHTML;

    min2 = min2.innerHTML;
    max2 = max2.innerHTML;

    datas = datas.innerHTML;
    datas1 = datas1.innerHTML;
    datas2 = datas2.innerHTML;

    min = JSON.parse(min);
    max = JSON.parse(max);

    min1 = JSON.parse(min1);
    max1 = JSON.parse(max1);

    min2 = JSON.parse(min2);
    max2 = JSON.parse(max2);

    datas = JSON.parse(datas);
    datas1 = JSON.parse(datas1);
    datas2 = JSON.parse(datas2);

    min = Math.min(min, min1, min2);
    max = Math.max(max, max1, max2);

        plattitle.innerHTML = `${cryptoidd}` + " / Kraken";


$(function() {
    var barOptions = {
        series: {
            lines: {
                show: true,
                lineWidth: 2,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 0.2
                    }, {
                        opacity: 0.2
                    }]
                }
            }
        },
        xaxis: {
            mode: 'time',
                unit: 'day',
        },
        yaxis: {
            tickDecimals: 2,
            min: min - ((max - min)/3),
            max: max + ((max - min)/3)
        },
        colors: ["#0073ff"],
        grid: {
            color: "#999999",
            hoverable: true,
            clickable: true,
            tickColor: "#D4D4D4",
            borderWidth:0
        },
        legend: {
            show: false,
            position: "sw"
        },
        tooltip: true,
        tooltipOpts: {
            content: "Time: %x, Value: %y"
        }
    };


    var barData = {
        label: "BTC/EUR Kraken",
        tickDecimals: 2,
        data: datas,

    };

    var barData1 = {
        label: "BTC/EUR Kraken",
        tickDecimals: 2,
        data: datas1,

    };

    var barData2 = {
        label: "BTC/EUR Kraken",
        tickDecimals: 2,
        data: datas2,

    };
    var mytestchar = $.plot($("#flot-line-chart00"), [barData], barOptions);
    // mytestchar.setData(datas);

    selectplat.addEventListener("click", function(){
      $.plot($("#flot-line-chart00"), [barData1], barOptions);
      platformidd = "Gdax";

    fetch(`https://min-api.cryptocompare.com/data/price?fsym=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {

      boole1 = 0;
      if ((xtest.innerHTML != json['EUR'] + "€"))
      {
        xtest.innerHTML = json['EUR'] + "€";
        $(function() {
          if (boole1 == 1){
          blink('#pricetest');
        }

        });
      }



    });
    fetch(`https://min-api.cryptocompare.com/data/pricemultifull?fsyms=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {

      highestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['HIGH24HOUR'] + "€";
       lowestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['LOW24HOUR'] + "€"

     });
    platformLeg.innerHTML = "Gdax";
    plattitle.innerHTML = `${cryptoidd}` + " / Gdax";
    });

    selectplatK.addEventListener("click", function(){
      $.plot($("#flot-line-chart00"), [barData], barOptions);
      platformidd = "Kraken";

    fetch(`https://min-api.cryptocompare.com/data/price?fsym=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {


      boole0 = 0;
       if ((xtest.innerHTML != json['EUR'] + "€"))
      {
        xtest.innerHTML = json['EUR'] + "€";
        $(function() {
          if (boole0 == 1){
          blink('#pricetest');
        }

        });
      }


    });
    fetch(`https://min-api.cryptocompare.com/data/pricemultifull?fsyms=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {

      highestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['HIGH24HOUR'] + "€";
      lowestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['LOW24HOUR'] + "€"

    });

    platformLeg.innerHTML = "Kraken";
    plattitle.innerHTML = `${cryptoidd}` + " / Kraken";
    });

    selectplatB.addEventListener("click", function(){
      $.plot($("#flot-line-chart00"), [barData2], barOptions);
      platformidd = "Bitstamp";

    fetch(`https://min-api.cryptocompare.com/data/price?fsym=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {

        boole2 = 0;
       if ((xtest.innerHTML != json['EUR'] + "€"))
      {
        xtest.innerHTML = json['EUR'] + "€";
        $(function() {
          if (boole2 == 1){
          blink('#pricetest');
        }

        });
      }




    });
    fetch(`https://min-api.cryptocompare.com/data/pricemultifull?fsyms=${cryptoidd}&tsyms=EUR&e=${platformidd}&extraParams=your_app_name`).then((data) => data.json()).then((json) => {

      highestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['HIGH24HOUR'] + "€";
      lowestprice.innerHTML = json['RAW'][`${cryptoidd}`]['EUR']['LOW24HOUR'] + "€"

    });
    platformLeg.innerHTML = "Bitstamp";
    plattitle.innerHTML = `${cryptoidd}` + " / Bitstamp";

    });
});

  </script>

  <script>
    // Get the modal
    var modal = document.getElementById('myModal');

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
      event.preventDefault();
      let quantity = document.getElementById("amount").value
      if (quantity !== "") {
        let gain = (quantity/(<%= @lowest_price %>)*(<%= @highest_price %>))-quantity;
        let percent = (gain/quantity)*100 || 0;
        document.getElementById("quantity").innerHTML = quantity;
        document.getElementById("gain").innerHTML = gain.toFixed(2);
        document.getElementById("percent").innerHTML = percent.toFixed(2);
        modal.style.display = "block";
      } else {
        alert("Merci d'entrer une valeur d'investissement.");
      }
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
    }

  </script>

<% end %>

