<div class="content mt10">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class='card'>
          <div class="card-top">
            <p class="card-title text-left">
              <%= link_to cryptos_path do %>
                <i class="fa fa-long-arrow-left fa-2x" aria-hidden="true"></i>
              <% end %>
            </p>
            <% if params[:platform] %>
              <p class="card-title text-right"><%= Platform.find(params[:platform]).name %></p>
            <% else %>
              <p class="card-title text-right"><%= Platform.find(1).name %></p>
            <% end %>
          </div>
          <div class="container">
            <div class="row text-center">
              <div class="card col-md-6">
                <div class='card-content'>
                  <p>
                    <img src="<%= Crypto.find(params[:id]).photo_url %>", width="50">
                    <% if params[:platform] %>
                      <p><%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:created_at).last.euro %> €</p>
                    <% else %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:created_at).last.euro %>
                    <% end %>
                  </p>
                </div>
              </div>
              <div class="card col-md-6">
                <div class="card-content">
                  <p style="color:green;">
                    <i class="fa fa-arrow-up" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).last.euro %> €
                    <% else %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).last.euro %> €
                    <% end %>
                  </p>
                </div>
                <div class="card-content">
                  <p style="color:red;">
                    <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    <% if params[:platform] %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: params[:platform]).order(:euro).first.euro %> €
                    <% else %>
                      <%= Exchangetimevalue.where(crypto: params[:id], platform: 1).order(:euro).first.euro %> €
                    <% end %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

<!-- Insérer le graph ici -->

      </div>

      <div class="col-md-4 mb30">
        <div class='card'>
          <div class="card-top">
            <h4 class="card-title">Platforms</h4>
          </div>
          <div class='card-content'>
            <table class="table table-stripped">
                <tbody>
                  <% 2.times do %> <!-- Line to delete -->
                  <% Platform.all.each do |platform| %>
                    <tr>
                      <td>
                        <%= link_to platform.name, "/cryptos/#{Crypto.find(params[:id]).id}?platform=#{platform.id}", class: "btn" %>
                      </td>
                      <td>
                        <%= link_to 'Website', "/cryptos/#{Crypto.find(params[:id]).id}?platform=#{platform.id}", class: "btn btn-secondary" %>
                      </td>
                    </tr>
                  <% end %>
                  <% end %> <!-- Line to delete -->
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

